body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
    background-image: url("../imgs/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, a{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
}

.content{
    width: 100%;
    height: max-content;
    padding-top: calc(40px + 4vh);
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding-bottom: 13vh;
}

.text_header{
    font-size: 4vh;
}

.header{
    width: 100%;
    height: max-content;
    padding: 20px;
    background-color: #00000070;
    transition: background-color .7s;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
}

.header_scroll{
    background-color: #000;
}

.header_buttons{
    display: flex;
    width: max-content;
    margin: 0 auto 0 auto;
}

.header_button{
    list-style: none;
    margin: 0 30px 0 30px;
    font-size: 2.5vh;
    font-weight: bold;
}

.header_button:hover{
    cursor: pointer;
    transition: color .3s;
    color: #3E949F;
}

.header_button_active{
    color: #3E949F;
}

.play_song{
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #191919;
    bottom: 0;
    animation: show_music .5s;
    display: flex;
    align-items: center;
    z-index: 1;
}

.play_song_content{
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    padding-top: 1vh;
    justify-content: space-between;
}

.slider {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: .5vh;
    background-color: #dedede;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009099), color-stop(100%, #009099));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
}
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
border: none;
width: 1.5vh;
height: 1.5vh; 
background: #009099; 
cursor: pointer;
border-radius: 100%;
}

.slider::-moz-range-thumb {
-webkit-appearance: none;
appearance: none;
border: none;
width: 1.5vh;
height: 1.5vh; 
background: #009099; 
cursor: pointer;
border-radius: 100%;
}

.song_controls{
    width: 8%;
    display: flex;
    justify-content: space-between;
}

.control_button{
    background: none;
    cursor: pointer;
    border: none;
    width: auto;
    height: 2.5vh;
}

.control_button_b{
    width: auto;
    height: 2.5vh;
}

.song_play_info{
    display: flex;
    align-items: center;
    width: max-content;
}

.song_author{
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    margin-right: 2vh;
}

.song_play{
    font-size: 1.8vh;
    font-weight: 700;
    transition: color .4s;
    margin-right: 2vh;
}

.song_play:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #B2A9EE;
}

.song_play_dot{
    height: 1vh;
    width: 1vh;
    border-radius: 100%;
    background-color: #fff;
    margin-right: 2vh;
}

.content_block{
    width: 80%;
    margin: 10vh auto 0 auto;
}

.recomended_music{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
}

.song_play_time{
    font-size: 1.5vh;
    font-weight: 600;
}


.song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    height: 10vh;
    border-radius: 10vh;
    padding-right: 5vh;
    background-color: #00000020;
    transition: background-color .7s;
    border: #00000040 2px solid;
    margin-top: 1vh;
}

.song:hover, .recomended_song{
    background-color: #00000040;
    cursor: pointer;
}

.song_preview{
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
}

.song_info{
    display: flex;
    flex-direction: column;
    padding: 2vh 0 2vh 0;
    justify-content: space-between;
    margin-left: 4vh;
}

.song_rec{
    justify-content: left;
}

.song_content{
    display: flex;
}

.song_title, .library_artist{
    font-size: 2.5vh;
    transition: color .4s;
    text-align: center;
}

.song_artist{
    font-size: 2vh;
    transition: color .4s;
}

.song_title:hover, .song_artist:hover{
    text-decoration: underline;
    color: #B2A9EE;
}

.song_tech{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_dot{
    background-color: #fff;
    width: .7vh;
    height: .7vh;
    border-radius: 100%;
}

.recomended_song, .library_element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    width: 25vh;
    height: 25vh;
    transition: background-color .7s;
    padding: 1vh;
    border-radius: 2vh;
}

.recomended_song_preview, .library_element_preview{
    position: absolute;
    border-radius: 2vh;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.recomended_song:hover:after, .library_element:hover:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2vh;
    background-color: #00000060;
    background-image: url("../imgs/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4vh;
    z-index: -1;
}

.song_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5vh;
}

.song_top_icon{
    width: 3vh;
    margin-right: 1vh;
}

.filters{
    display: flex;
}

.filter{
    padding: 1vh 2vh;
    background-color: #00000070;
    border-radius: 2vh;
    margin-right: 2vh;
    transition: background-color .5s;
}

.filter:hover{
    background-color: #00000090;
}

.new_playlist, .new_album{
    background-color: #009099;
    position: fixed;
    z-index: 2;
    bottom: 6%;
    right: 6%;
    border: none;
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 100%;
    background-image: url("../imgs/add_playlist.png");
    background-size: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.new_album{
    width: 15vh;
    border-radius: 3vh;
    text-align: center;
    padding: 0 5vh;
    display: flex;
    align-items: center;
    background-image: none;
    background-color: #067981;
    left: 6%;
}

.new_playlist:hover, .new_album:hover{
    background-color: #00747c;
}

.new_playlist_add, .new_album_add{
    background-color: #000000d5;
    top: 7vh;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: flex;
    align-content: center;
    animation: hide_play_info .5s;
    transition: visibility .5s;
    visibility: hidden;
}

.new_song_add{
    background-color: rgba(0, 0, 0, 0.91);
    top: 7.2vh;
    right: 0;
    width: 74vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: flex;
    align-content: center;
    animation: hide_new_song_info 1s;
    transition: visibility 1s;
    visibility: hidden;
}

.new_playlist_add_content, .new_album_add_content, .new_song_add_content{
    background-color: #ffffff05;
    padding: 5vh;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: max-content;
    margin: 30vh auto;
}

.new_song_add_content{
    margin: 5vh auto;
}

.new_album_add_content{
    margin: 10vh auto;
}

  
.type_of_playlist {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: #00000090;
    outline: none;
    width: 100%;
    cursor: pointer;
    color: #fff;
    border-radius: 5vh;
    padding: 1vh 3vh;
    cursor: pointer;
    border: .3vh solid #fff;
    font-size: 2vh;
    font-weight: 700;
}

.type_of_playlist option{
    background: #00000090;
    color: #fff;
    cursor: pointer;
    margin: 0;
}
  

.new_playlist_add_buttons, .new_album_add_buttons, .new_song_add_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.new_playlist_add_button, .new_album_add_button, .new_song_add_button{
    outline: none;
    border: none;
    background-color: #00000070;
    border: .3vh solid #fff;
    border-radius: 5vh;
    padding: 1vh 3vh;
    cursor: pointer;
    color: #fff;
    font-size: 1.5vh;
    font-weight: 600;
}

.new_playlist_add_show, .new_album_add_show{
    visibility: visible;
    animation: show_play_info .5s;
}

.new_song_add_show{
    transition: visibility 0s;
    visibility: visible;
    animation: show_new_song_info 1s;
}

.playlist_name, .user_password, .user_name{
    background-color: #00000010;
    border: .3vh solid #fff;
    color: #fff;
    border-radius: 5vh;
    padding: 1vh 3vh;
    font-size: 2vh;
    font-weight: 700;
    outline: none;
    margin-bottom: 2vh;
}

.library_elements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.library_element{
    margin-right: 2vh;
    margin-top: 3vh;
    overflow: hidden;
}

.library_element::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #00000060;
    top: 0;
    left: 0;
    border-radius: 2vh;
    z-index: -1;
}

.show_list_image{
    transform: rotate(180deg);
    width: 2vh;
    height: auto;
    transition: transform .5s;
}

.show_list_img_active{
    transform: rotate(0deg);
}

.played_song{
    width: 90%;
    height: 100vh;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../imgs/background_darken.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: show_play_info .5s;
}

.played_song_active{
    animation: hide_play_info .5s;
    transition: visibility .5s;
    visibility: hidden;
}

.artist_preview{
    border-radius: 100%;
    height: 40vh;
    width: 40vh;
}

.songs_list{
    width: 45%;
    height: 86%;
    background-color: #00000090;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    position: relative;
}

.songs_list_controls{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 2vh 10%;
    background-color: #000;
}

.songs_list_text{
    cursor: pointer;
    font-size: 2vh;
    font-weight: 700;
}

.songs_list_text:hover{
    transition: color .5s;
    color: #009099;
}

.next_songs, .text_song{
    margin-top: 8vh;
    padding-bottom: 1.4vh;
}

.next_song{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vh 0;
    border-top: 0.2vh solid #009099;
    border-bottom: 0.2vh solid #009099;
}

.next_song_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto 0 auto;
}

.next_song_g_content{
    display: flex;
    align-items: center;
}

.next_song:hover{
    background-color: #00909910;
}

.next_song_preview{
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
}

.next_song_info{
    margin-left: 2vh;
}

.next_song_title{
    font-size: 1.8vh;
    transition: color .4s;
}

.next_song_artist{
    font-size: 1.6vh;
    transition: color .4s;
}

.next_song_title:hover, .next_song_artist:hover{
    text-decoration: underline;
    color: #B2A9EE;
}

.text_song{
    text-align: left;
    padding-left: 20vh;
    font-size: 2vh;
    font-weight: 700;
    display: none;
}

.hide_next{
    display: none;
}

.show_text{
    display: block;
}

.profile_info{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 40vh;
    padding: 5vh 20vh;
    align-items: center;
    justify-content: space-between;
}

.logout_button:hover{
    color: #6c011a;
}

.user_avatar{
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    position: relative;
}



.profile_user_info, .change_password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.user_name{
    font-size: 2.5vh;
    font-weight: 700;
    margin-top: 2vh;
}

.user_password, .user_name{
    background-color: #00909940;
}

#imageInput {
    position: absolute;
    width: 30vh;
    height: 30vh;
    opacity: 0;
    cursor: pointer;
    background-color: #000;
    border-radius: 100%;
    z-index: 2;
}

.profile_user_info:hover::after{
    content: "";
    background-color: #00000060;
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
}


.login-form,
.registration-form{
    border-radius: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #00000090;
    text-align: center;
    width: 50%;
    height: max-content;
    margin: auto;
    margin-top: 5%;
    border: 2px solid #000;
    padding: 50px;
    margin-bottom: 20px;
}
.form-field{
    text-align: left;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.form-field > input{
    outline: none;
    border-radius: 5vh;
}
.login-form-field,
.form-field > input{
    background-color: #000000f8;
    border: 2px solid #000;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}

.login_btn{
    background-color: #343433;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    color: #fff;
    padding: 20px 0;
}

.album_info{
    background-color: #000000A0;
    width: 20vw;
    height: 80vh;
    margin: auto;
    margin-top: -1vh;
    padding: 10vh 3vw 30vh 3vw;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    transition: background-color .4s;
}

.album_info_active{
    background-color: rgb(0, 0, 0);
}

.album_image{
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    margin-bottom: 5vh;
}

.album_name{
    font-size: 3vh;
    color: #007599;
    font-weight: 700;
    margin-bottom: 1vh;
}

.album_author{
    font-size: 2.5vh;
    font-weight: 700;
    text-decoration: underline;
}

.album_desc{
    font-size: 2vh;
    font-weight: 600;
}

.play_album{
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    background-color: #3c8103;
    background-image: url("../imgs/play.png");
    background-size: 1.5vh;
    background-position: 2vh center;
    background-repeat: no-repeat;
}

.play_album:hover{
    background-color: #306c01;
}

.album_controls{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.album_controls_button{
    background-color: #009099;
    padding: 1vh 3vh;
    border-radius: 3vh;
}

.album_controls_button:hover{
    filter: brightness(90%);
}

.remove_album{
    background-color: #6c011a;
}

.upload_song{
    background-color: #306c01;
}

.add_song_placeholder{
    background-color: #00000070;
    font-size: 2vh;
    font-weight: 700;
    padding: 2vh 5vh;
    text-align: center;
    border-radius: 10vh;
    cursor: pointer;
}

.add_song_placeholder:hover{
    background-color: #000000DD;
}

.album_songs{
    width: 74vw;
    height: 100vh;
    position: absolute;
    overflow: scroll;
    margin-left: 26vw;
    margin-top: -1vh;
    background-color: #00000090;
}

@keyframes hide_new_song_info {
    from {transform: translateX(0vw);}
    to {transform: translateX(-100vw);}
}

@keyframes show_new_song_info {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0vw);
    }

}

@keyframes show_play_info {
    from {transform: translateY(100vh);}
    to {transform: translateY(0vh);}
}

@keyframes hide_play_info {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }

}

@keyframes show_music {
    from {transform: translateY(5vh);}
    to {transform: translateY(0vh);}
}